html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}
.button {
  display: inline-block;
  min-width: 118px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
  padding: 0 16px;
  line-height: 50px;
}
.header {
  background: #fffcf4;
}
/* /////////////////////////////////////////////////// */
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}
.nav a {
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
  position: relative;
}
.nav li.active a,
.nav a:hover {
  color: #171100;
  font-size: 1.6rem;
  text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}
.button-sign-up {
  min-width: 144px;
}
.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}
.header .action {
  margin-left: 49px;
}
/* ////////////////////////////////////// */
.hero {
  padding-top: 57px;
  background: #fffcf4;
}
.hero .body {
  display: flex;
}
.hero .media-block {
  width: 570px;
  position: relative;
}
.hero .content-block {
  width: 470px;
  padding-top: 46px;
  padding-left: 130px;
}
.hero .media-block .img {
  width: 476px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}
.hero-summary {
  position: absolute;
  bottom: 48px;
  right: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  padding: 24px;
  width: 222px;
}
.hero-summary .item {
  display: flex;
  align-items: center;
}
.hero-summary .item + .item {
  margin-top: 14px;
}
.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff9e8;
}
.hero-summary .icon2 {
  background-color: #fcefff;
}
.hero-summary .icon3 {
  background-color: #ebeaff;
}
.hero-summary .info {
  margin-left: 16px;
}
.hero-summary .icon + .icon {
  margin-top: 22px;
}
.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 186%; /* 185.714% */
}
.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 167%; /* 166.667% */
}
/* ////////////////////////////// */
.hero .heading {
  color: #171100;
  font-family: Sen;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 117%; /* 117.241% */
  letter-spacing: -1.16px;
  /* width: 470px;
  height: 204px; */
}
.hero .desc {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 166%; /* 166.667% */
  width: 470px;
  margin-top: 28px;
}
.cta-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
}
.button-see {
  width: 180px;
  padding: 0;
  line-height: 64px;
  border-radius: 32px;
  background: #ffb900;
}
.hero .watch-video {
  border: none;
  background: transparent;
  display: flex;
  margin-left: 28px;
  align-items: center;
  cursor: pointer;
}
.cta-group .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}
.cta-group span {
  width: 148px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 167%; /* 166.667% */
  margin-left: 14px;
  text-align: left;
}
.hero .desc-recent {
  margin-top: 48px;
}
.hero .stat {
  margin-top: 8px;
}
.hero .content-block strong {
  color: #171100;
  font-family: Sen;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 123%; /* 122.727% */
  margin-right: 12px;
}
.hero .content-block strong:nth-child(2) {
  margin-left: 28px;
}
/* ///////////////////// */
.popular {
  padding-top: 200px;
}
.popular .heading {
  color: #171100;
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 126%; /* 126.316% */
  letter-spacing: -0.76px;
}
.popular .desc {
  width: 458px;
  color: #5f5b53;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 166%; /* 166.667% */
  padding-top: 16px;
}
.popular .popular-top {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.popular .control {
  display: flex;
  gap: 18px;
  align-items: center;
}
.popular .control-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  color: #ffb900;
  border: 1px #ffb900 solid;
  cursor: pointer;
}
.popular .control-button:hover {
  background: #ffb900;
  color: #ebeaff;
}
/* ///////////////////////////// */
.course-list {
  padding-top: 55px;
  display: flex;
  gap: 30px;
}
.course-list .thumb {
  width: 370px;
  height: 278px;
  border-radius: 12px 12px 0px 0px;
}
.course-item {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
  width: 370px;
  min-height: 466px;
  flex-shrink: 0;
  border: 1px solid black;
}
.course-list .info {
  margin-top: 16px;
  margin-right: 22px;
  margin-left: 22px;
  margin-bottom: 22px;
}
.course-list .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 167%; /* 166.667% */
}
.course-list .rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.course-list .head {
  width: 326px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden; */
}
.course-list .star {
  width: 18px;
  height: 18px;
}
.course-list .value {
  color: #fea31b;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin-left: 6px;
}
.course-list .desc {
  width: 326px;
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 186%; /* 185.714% */
  margin-top: 6px;
  padding: 0;
}
.price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 167%; /* 166.667% */
  display: flex;
  align-items: center;
  justify-content: center;
}
.course-list .button {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 118px;
  height: 50px;
  border-radius: 25px;
  background: #ffb900;
  color: #f6f6f6;
  border: #fea31b;
  cursor: pointer;
}
.course-list .foot {
  display: flex;
  margin-top: 12px;
  margin-bottom: 22px;
  justify-content: space-between;
}
.course-list .button:hover {
  background: #171100;
}
/* ////////////////////////// */
.feedback {
  margin-top: 200px;
  padding-top: 96px;
  padding-bottom: 96px;
  padding-left: 135px;
  padding-right: 135px;
  background: #2e2100;
}
.feedback .avt {
  width: 72px;
  height: 72px;
  border-radius: 72px;
  background: url(<path-to-image>) lightgray -51.126px -33.052px / 228.267%
    342.4% no-repeat;
}
.feedback .p1 {
  color: #f7f7f7;
  font-family: Sen;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 142%; /* 141.667% */
  margin-top: 18px;
}
.feedback .p2 {
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 186%; /* 185.714% */
  margin-top: 4px;
}
.feedback .dots {
  display: flex;
  margin-top: 28px;
  gap: 6px;
}
.feedback .dot {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background: #634700;
}
.feedback .dot2 {
  background: #ffb900;
}
.feedback .open-quote {
  width: 30px;
  height: 28px;
}
.feedback .content {
  width: 66%;
  margin-left: auto;
}
.feedback blockquote {
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 154%; /* 153.846% */
}
.feedback .feedback-item {
  display: flex;
  flex-shrink: 0;
  width: 100%;
}
.feedback .feeback-list {
  display: flex;
  overflow: hidden;
}
/* /////////////////// */
.features {
  margin-top: 200px;
}
.features .img {
  width: 270px;
  height: 404px;
  border-radius: 16px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}
.features .image {
  display: flex;
  gap: 30px;
}
.features .img1 {
  margin-top: 34px;
}
.features .body {
  display: flex;
  justify-content: space-between;
}
.features .heading2 {
  margin-top: 58px;
  width: 470px;
  color: #171100;
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 126%; /* 126.316% */
  letter-spacing: -0.76px;
}
.features .desc {
  width: 458px;
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 175%; /* 175% */
  margin-top: 16px;
}
.features .su {
  width: 137px;
  height: 50px;
  border-radius: 26px;
  background: #ffb900;
  padding: 0;
  margin-top: 32px;
}
/* /////////////////////////////// */
.features2 .body {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
}
.features2 .features-right {
  width: 470px;
  height: 440px;
  border-radius: 20px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}
.features2 .heading2 {
  width: 570px;
  color: #171100;
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 126%; /* 126.316% */
  letter-spacing: -0.76px;
  margin-top: 71px;
}
.features2 .desc {
  width: 570px;
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 175%; /* 175% */
  margin-top: 16px;
}
.features2 .button-jn {
  width: 137px;
  height: 50px;
  border-radius: 26px;
  background: #ffb900;
  padding: 0;
  margin-top: 32px;
}
/* ///////////////////////// */
.blog {
  padding: 96px 135px;
  margin-top: 200px;
  background: #fffcf4;
}
.blog .heading2 {
  color: #130606;
  text-align: center;
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 126%; /* 126.316% */
  letter-spacing: -0.76px;
}
.blog .blog-head .desc {
  width: 448px;
  color: #696262;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin: 0 auto;
  margin-top: 16px;
}
.blog .blog-body {
  margin-top: 55px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.blog-body .body-item {
  width: 370px;
  height: 467px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.blog-body .img {
  width: 370px;
  height: 250px;
  border-radius: 16px 16px 0px 0px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}
.body-item .date {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 20px;
  margin-left: 30px;
}
.body-item span {
  width: 6px;
  height: 6px;
  fill: #ffb900;
}
.body-item .desc {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 186%; /* 185.714% */
}
.body-item .hr {
  width: 160px;
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
  margin: 12px 190px 0px 20px;
}
.body-item .heading3 {
  width: 330px;
  color: #171100;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 175%; /* 175% */
  margin: 12px 20px 0px 12px;
}
.body-item .button-rm {
  width: 118px;
  height: 50px;
  padding: 0;
  border-radius: 25px;
  margin: 12px 232px 28px 20px;
}
.body-item .rm-yellow {
  background: #ffb900;
}
.blog-foot .dots {
  display: flex;
  margin-top: 38px;
  justify-content: center;
  gap: 6px;
}
.blog-foot .dot {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background: #5f5b53;
}
.blog-foot .dot-yellow {
  background: #ffb900;
}
/* //////////////////////// */
.footer {
  padding: 96px 135px 28px;
  background: #2e2100;
}
.footer .footer-items {
  display: flex;
}
.footer .footer-items .head {
  display: flex;
}
.footer .item-lesson .heading3 {
  color: #fff;
  font-family: Sen;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 142%; /* 141.667% */
}
.footer .item-lesson strong {
  color: #ffb900;
  width: 6px;
  height: 6px;
  border-radius: 6px;
}
.footer .item-lesson .desc {
  width: 267px;
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 186%; /* 185.714% */
  margin-top: 18px;
}
.footer .gr-icon {
  display: flex;
  gap: 18px;
  margin-top: 18px;
}
.footer .item-company {
  margin-left: 145px;
}
.footer .item-company .heading3,
.item-support .heading3,
.item-address .heading3 {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 28px; /* 175% */
}
.item-company .hr,
.item-support .hr,
.item-address .hr {
  width: 130px;
  height: 1px;
  background: #59554b;
  margin-top: 14px;
  margin-left: 0;
}
.item-company .desc,
.item-support .desc,
.item-address .desc {
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 186%; /* 185.714% */
  margin-top: 12px;
}
.item-company p:nth-of-type(1) {
  margin-top: 18px;
}
.item-support p:nth-of-type(1) {
  margin-top: 18px;
}
.item-address p:nth-of-type(1) {
  margin-top: 18px;
}
.item-support {
  margin-left: 130px;
}
.item-address {
  margin-left: 137px;
}
.item-address .desc strong {
  color: #fff;
}
.item-support p:nth-of-type(2) {
  width: 137px;
}
.footer .hr-body {
  width: 1170px;
  height: 1px;
  background: #59554b;
  margin-top: 38px;
}
.footer .footter-last .desc {
  color: #807d74;
  text-align: center;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 186%; /* 185.714% */
  margin-top: 38px;
}
