html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}
.button {
  display: inline-block;
  min-width: 118px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
  padding: 0 16px;
  line-height: 50px;
}
.header {
  background: #fffcf4;
}
/* /////////////////////////////////////////////////// */
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}
.nav a {
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
  position: relative;
}
.nav li.active a,
.nav a:hover {
  color: #171100;
  font-size: 1.6rem;
  text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}
.button-sign-up {
  min-width: 144px;
}
.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}
.header .action {
  margin-left: 49px;
}
/* ////////////////////////////////////// */
.hero {
  padding-top: 57px;
  background: #fffcf4;
}
.hero .body {
  display: flex;
}
.hero .media-block {
  width: 570px;
  position: relative;
}
.hero .content-block {
  width: 470px;
  padding-top: 46px;
  padding-left: 130px;
}
.hero .media-block .img {
  width: 476px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}
.hero-summary {
  position: absolute;
  bottom: 48px;
  right: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  padding: 24px;
  width: 222px;
}
.hero-summary .item {
  display: flex;
  align-items: center;
}
.hero-summary .item + .item {
  margin-top: 14px;
}
.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff9e8;
}
.hero-summary .icon2 {
  background-color: #fcefff;
}
.hero-summary .icon3 {
  background-color: #ebeaff;
}
.hero-summary .info {
  margin-left: 16px;
}
.hero-summary .icon + .icon {
  margin-top: 22px;
}
.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 186%; /* 185.714% */
}
.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 167%; /* 166.667% */
}
/* ////////////////////////////// */
.hero .heading {
  color: #171100;
  font-family: Sen;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 117%; /* 117.241% */
  letter-spacing: -1.16px;
  /* width: 470px;
  height: 204px; */
}
.hero .desc {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 166%; /* 166.667% */
  width: 470px;
  margin-top: 28px;
}
.cta-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
}
.button-see {
  width: 180px;
  padding: 0;
  line-height: 64px;
  border-radius: 32px;
  background: #ffb900;
}
.hero .watch-video {
  border: none;
  background: transparent;
  display: flex;
  margin-left: 28px;
  align-items: center;
  cursor: pointer;
}
.cta-group .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}
.cta-group span {
  width: 148px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 167%; /* 166.667% */
  margin-left: 14px;
  text-align: left;
}
.hero .desc-recent {
  margin-top: 48px;
}
.hero .stat {
  margin-top: 8px;
}
.hero .content-block strong {
  color: #171100;
  font-family: Sen;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 123%; /* 122.727% */
  margin-right: 12px;
}
.hero .content-block strong:nth-child(2) {
  margin-left: 28px;
}
